<%= erb :menu, locals: { pageid: 'home' } %>

<% if fieldforce.any? %>
<% content_for :sub_heading do %>
  Click a Field Worker to review.
<% end %>

<table class="primary">
  <thead>
    <tr>
      <th>ID</th>
      <th>RoleID</th>
      <th>Bank Account Number</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
      <% fieldforce.each_with_index do |fieldmember| %>
      <tr>
        <% if fieldmember['id'].present? %>
          <td><%=h fieldmember['id'] %></td>
        <% else %>
          <td>-</td>
        <% end %>
        <% if fieldmember['uniqueRoleId'].present? %>
          <td><%=h fieldmember['uniqueRoleId'] %></td>
        <% else %>
          <td>-</td>
        <% end %>
        <% if fieldmember['bankAccountNumber'].present? %>
          <td><%=h fieldmember['bankAccountNumber'] %></td>
        <% else %>
          <td>-</td>
        <% end %>
        <td><a href="/fieldforce/<%=fieldmember['id'] %>">View Field Worker</a></td>
      <% end %>
    </tr>
  </tbody>
</table>
<% end %>
