<%= erb :menu, locals: { pageid: 'home' } %>

<% if fieldforce.any? %>
<% content_for :sub_heading do %>
  Click a Field Worker to review
<% end %>

<script src="/javascripts/viewjson.js" type="text/javascript"></script>

<table class="primary">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Employee Details</th>
      <th>Employee History</th>
    </tr>
  </thead>
  <tbody>
      <% fieldforce.each_with_index do |fieldmember| %>
      <tr>
        <% if fieldmember['uniqueEmployeeId'].present? %>
          <td><%=h fieldmember['uniqueEmployeeId'] %></td>
        <% else %>
          <td>-</td>
        <% end %>
        <% if fieldmember['firstName'].present? %>
          <td><%=h fieldmember['firstName'] %> <%=h fieldmember['surname'] %></td>
        <% else %>
          <td>-</td>
        <% end %>
        <td><a href="/fieldforce/<%=fieldmember['uniqueEmployeeId'] %>">View Field Worker</a></td>
        <td><a href="/fieldforce/historyById/<%=fieldmember['uniqueEmployeeId'] %>">View Field Worker History</a></td>
      <% end %>
    </tr>
  </tbody>
</table>

<% else %>
No Field Workers
<% end %>
