<%= erb :menu, locals: { pageid: 'home' } %>

<% if results.any? %>
<% content_for :sub_heading do %>
  Details for Field Worker
<% end %>
 <table class="primary">
    <thead>
    <tr>
      <th>ID</th>
      <th>Forename</th>
      <th>Surname</th>
      <th>Badge Number</th>
      <th>Job Role ID</th>
      <th>Job Role</th>
      <th>Job Role Active?</th>
      <th>Area</th>
      <th>Assignment Status</th>
      <th>Employee Details</th>
      <th>Employee History</th>
    </tr>
    </thead>
    <tbody>
    <% results.each_with_index do |result| %>
    <tr>
        <% if result['uniqueEmployeeId'].present? %>
          <td><%=h result['uniqueEmployeeId'] %></td>
        <% else %>
          <td>-</td>
        <% end %>
        <% if result['firstName'].present? %>
          <td><%=h result['firstName'] %></td>
        <% else %>
          <td>-</td>
        <% end %>
        <% if result['surname'].present? %>
          <td><%=h result['surname'] %></td>
        <% else %>
          <td>-</td>
        <% end %>
        <% if result['idBadgeNo'].present? %>
          <td><%=h result['idBadgeNo'] %></td>
        <% else %>
          <td>-</td>
        <% end %>
        <% if result['jobRoles'].present? %>
          <% jobroles = result['jobRoles'] %>
          <% jobroles.each do |jobrole| %>
            <% if searchedAssignment== '' %>
              <% if jobrole['active'] == true %>
                <% @activejobrole = jobrole %>
                <% break %>
              <% else %>
                <% @activejobrole = jobroles.max_by{ |id| id['id']} %>
                <% break %>
              <% end %>
            <% else %>
              <% if jobrole['active'] == true && jobrole['assignmentStatus'] == searchedAssignment%>
                <% @activejobrole = jobrole %>
                <% break %>
              <% else %>
                <% next if jobrole['assignmentStatus'] != searchedAssignment%>
                <% @activejobrole = jobrole %>
                <% break %>
              <% end %>
            <% end %>
          <% end %>
          <% if @activejobrole['uniqueRoleId'].present? %>
            <td><%=h @activejobrole['uniqueRoleId'] %></td>
          <% else %>
            <td>-</td>
          <% end %>
          <% if @activejobrole['jobRole'].present? %>
            <td><%=h @activejobrole['jobRole'] %></td>
          <% else %>
            <td>-</td>
          <% end %>
          <% if @activejobrole['active'].present? %>
            <td>Yes</td>
          <% else %>
            <td>No</td>
          <%end %>
          <% if @activejobrole['areaLocation'].present? %>
            <td><%=h @activejobrole['areaLocation'] %></td>
          <% else %>
            <td>-</td>
          <% end %>
          <% if @activejobrole['assignmentStatus'].present? %>
            <td><%=h @activejobrole['assignmentStatus'] %></td>
          <% else %>
            <td>-</td>
          <% end %>
        <% end %>
        <td><a href="/fieldforce/<%=result['uniqueEmployeeId'] %>">View Field Worker</a></td>
        <td><a href="/fieldforce/historyById/<%=result['uniqueEmployeeId'] %>">View Field Worker History</a></td>
        </tr>
      <% end %>
    <%# end %>
    </tbody>
  </table>
<% else %>
  No Field Worker for searched terms
<% end %>