<%= erb :menu, locals: { pageid: 'home' } %>

<% if results.any? %>
<% content_for :sub_heading do %>
  Details for Field Worker
<% end %>

<table class="primary">
  <thead>
    <tr>
      <th>ID</th>
      <th>Forename</th>
      <th>Surname</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% results.each_with_index do |result| %>
      <tr>
        <% if result['uniqueEmployeeId'].present? %>
          <td><%=h result['uniqueEmployeeId'] %></td>
        <% else %>
          <td>-</td>
        <% end %>
        <% if result['firstName'].present? %>
          <td><%=h result['firstName'] %></td>
        <% else %>
          <td>-</td>
        <% end %>
        <% if result['surname'].present? %>
          <td><%=h result['surname'] %></td>
        <% else %>
          <td>-</td>
        <% end %>
        <td><a href="/fieldforce/<%=result['uniqueEmployeeId'] %>">View Field Worker</a></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% else %>
No Field Worker for searched terms
<% end %>
