<%= erb :menu, locals: {pageid: 'home'} %>

<div class="grid-container">
  <div class="emp-details">
    <% unless field_worker_details.nil? %>
      <p class="emp-headers">Details for Field Worker</p>
      <table class="tab-emp-details">
        <tr>
          <th>
            <% if field_worker_details.has_key?('firstName') && field_worker_details.has_key?('surname') %>
              Name
            <% end %>
          </th>
          <% if field_worker_details['firstName'].present? && field_worker_details['surname'].present? %>
            <td><%= h field_worker_details['firstName'] %> <%= h field_worker_details['surname'] %></td>
          <% else %>
            <td>-</td>
          <% end %>
        </tr>
        <tr>
          <th>
            <% if field_worker_details.has_key?('preferredName') %>
              Preferred Name
            <% end %>
          </th>
          <% if field_worker_details['preferredName'].present? %>
            <td><%= h field_worker_details['preferredName'] %></td>
          <% else %>
            <td>-</td>
          <% end %>
        </tr>
        <tr>
          <th>
            <% if field_worker_details.has_key?('onsId') %>
              ONS Email Address
            <% end %>
          </th>
          <% if field_worker_details['onsId'].present? %>
            <td><%= h field_worker_details['onsId'] %></td>
          <% else %>
            <td>-</td>
          <% end %>
        </tr>
        <% if field_worker_phone_device.any? %>
          <tr>
            <% if field_worker_phone_device.has_key?('fieldDevicePhoneNumber') %>
              <th>
                ONS Mobile Number
              </th>
            <% end %>
            <% if field_worker_phone_device['fieldDevicePhoneNumber'].present? %>
              <td><%= h field_worker_phone_device['fieldDevicePhoneNumber'] %></td>
            <% else %>
              <td>-</td>
            <% end %>
          </tr>
        <% end %>
      </table>
    <% end %>
  </div>


  <div class="emp-personal-details-hr">
    <% unless field_worker_details.nil? && field_worker_job_roles.nil? %>
      <p class="emp-headers">Personal Contact Details</p>
      <table class="tab-emp-details">
        <tr>
          <th>
            <% if field_worker_details.has_key?('telephoneNumberContact1') %>
              Personal Mobile Number
            <% end %>
          </th>
          <% if field_worker_details['telephoneNumberContact1'].present? %>
            <td><%= h field_worker_details['telephoneNumberContact1'] %></td>
          <% else %>
            <td>-</td>
          <% end %>
        </tr>
        <tr>
          <th>
            <% if field_worker_details.has_key?('personalEmailAddress') %>
              Personal Email Account
            <% end %>
          </th>
          <% if field_worker_details['personalEmailAddress'].present? %>
            <td><%= h field_worker_details['personalEmailAddress'] %></td>
          <% else %>
            <td>-</td>
          <% end %>
        </tr>
      </table>
    <p class="emp-headers">Other Personal Details</p>
    <table class="tab-emp-details">
      <tr>
        <th>
          <% if field_worker_details.has_key?('currentCivilServant') %>
            Current Civil Servant
          <% end %>
        </th>
        <% if field_worker_details['currentCivilServant'].present? %>
          <td><%= h field_worker_details['currentCivilServant'] %></td>
        <% else %>
          <td>-</td>
        <% end %>
      </tr>
      <tr>
        <th>
          <% if field_worker_details.has_key?('previousCivilServant') %>
            Previous Civil Servant
          <% end %>
        </th>
        <% if field_worker_details['previousCivilServant'].present? %>
          <td><%= h field_worker_details['previousCivilServant'] %></td>
        <% else %>
          <td>-</td>
        <% end %>
      </tr>
      <tr>
        <th>
          <% if field_worker_details.has_key?('civilServicePensionRecipient') %>
            Civil Service Pension Recipient
          <% end %>
        </th>
        <% if field_worker_details['civilServicePensionRecipient'].present? %>
          <td><%= h field_worker_details['civilServicePensionRecipient'] %></td>
        <% else %>
          <td>-</td>
        <% end %>
      </tr>
      <tr>
        <th>
          <% if field_worker_details.has_key?('dob') %>
            Date of Birth
          <% end %>
        </th>
        <% if field_worker_details['dob'].present? %>
          <% dob = field_worker_details['dob'].to_s  %>
          <% formatteddob = Date.parse(dob).strftime("%d-%m-%Y") %>
          <td><%=h formatteddob %></td>
        <% else %>
          <td>-</td>
        <% end %>
      </tr>
      <tr>
        <th>
          <% if field_worker_details.has_key?('drivingInformation') %>
            Driving Information
          <% end %>
        </th>
        <% if field_worker_details['drivingInformation'].present? %>
          <td><%= h field_worker_details['drivingInformation'] %></td>
        <% else %>
          <td>-</td>
        <% end %>
      </tr>
    </table>
    <% end %>
  </div>


  <div class="emp-employment-status">
    <% unless field_worker_details.nil? && field_worker_job_roles.nil? %>
      <p class="emp-headers">Employment Status</p>
      <table class="tab-emp-details">
        <tr>
          <th>
            <% if field_worker_job_roles.has_key?('assignmentStatus') %>
              Assignment Status
            <% end %>
          </th>
          <% if field_worker_job_roles['assignmentStatus'].present? %>
            <td><%= h field_worker_job_roles['assignmentStatus'] %></td>
          <% else %>
            <td>-</td>
          <% end %>
        </tr>
        <tr>
          <th>
            <% if field_worker_job_roles.has_key?('crStatus') %>
              Status
            <% end %>
          </th>
          <% if field_worker_job_roles['crStatus'].present? %>
            <td><%= h field_worker_job_roles['crStatus'] %></td>
          <% else %>
            <td>-</td>
          <% end %>
        </tr>
        <tr>
          <th>
            <% if field_worker_job_roles.has_key?('contractStartDate') %>
              Operational Start Date
            <% end %>
          </th>
          <% if field_worker_job_roles['contractStartDate'].present? %>
            <% contrEndDateTime = field_worker_job_roles['operationalEndDate'].to_s  %>
            <% formattedEndDate = Date.parse(contrEndDateTime).strftime("%d-%m-%Y") %>
            <td><%=h formattedEndDate %></td>
          <% else %>
            <td>-</td>
          <% end %>
        </tr>
        <tr>
          <th>
            <% if field_worker_job_roles.has_key?('operationalEndDate') %>
              Operational End Date
            <% end %>
          </th>
          <% if field_worker_job_roles['operationalEndDate'].present? %>
            <% contrEndDateTime = field_worker_job_roles['operationalEndDate'].to_s  %>
            <% formattedEndDate = Date.parse(contrEndDateTime).strftime("%d-%m-%Y") %>
            <td><%=h formattedEndDate %></td>
          <% else %>
            <td>-</td>
          <% end %>
        </tr>
        <tr>
          <th>
            <% if field_worker_details.has_key?('ingestDate') %>
              Ingest Date
            <% end %>
          </th>
          <% if field_worker_details['ingestDate'].present? %>
            <% ingestDateTime = field_worker_details['ingestDate'].to_s  %>
            <% formattedStartDate = DateTime.parse(ingestDateTime).strftime("%d-%m-%Y %T") %>
            <td><%=h formattedStartDate %></td>
          <% else %>
            <td>-</td>
          <% end %>
        </tr>
      </table>
    <% end %>
  </div>


  <div class="emp-diversity-information">
    <% unless field_worker_details.nil? && field_worker_job_roles.nil? %>
      <p class="emp-headers">Diversity Information</p>
      <table class="tab-emp-details">
        <tr>
          <th>
            <% if field_worker_details.has_key?('age') %>
              Age
            <% end %>
          </th>
          <% if field_worker_details['age'].present? %>
            <td><%= h field_worker_details['age'] %></td>
          <% else %>
            <td>-</td>
          <% end %>
        </tr>
        <tr>
          <th>
            <% if field_worker_details.has_key?('ethnicity') %>
              Ethnicity
            <% end %>
          </th>
          <% if field_worker_details['ethnicity'].present? %>
            <td><%= h field_worker_details['ethnicity'] %></td>
          <% else %>
            <td>-</td>
          <% end %>
        </tr>
        <tr>
        <th>
          <% if field_worker_details.has_key?('disability') %>
            Disability
          <% end %>
        </th>
        <% if field_worker_details['disability'].present? %>
          <td><%= h field_worker_details['disability'] %></td>
        <% else %>
          <td>-</td>
        <% end %>
        </tr>
        <tr>
          <th>
            <% if field_worker_details.has_key?('nationality') %>
              Nationality
            <% end %>
          </th>
          <% if field_worker_details['nationality'].present? %>
            <td><%= h field_worker_details['nationality'] %></td>
          <% else %>
            <td>-</td>
          <% end %>
        </tr>
        <tr>
          <th>
            <% if field_worker_details.has_key?('gender') %>
              Gender
            <% end %>
          </th>
          <% if field_worker_details['gender'].present? %>
            <td><%= h field_worker_details['gender'] %></td>
          <% else %>
            <td>-</td>
          <% end %>
        </tr>
        <tr>
          <th>
            <% if field_worker_details.has_key?('sexualOrientation') %>
              Sexual Orientation
            <% end %>
          </th>
          <% if field_worker_details['sexualOrientation'].present? %>
            <td><%= h field_worker_details['sexualOrientation'] %></td>
          <% else %>
            <td>-</td>
          <% end %>
        </tr>
        <tr>
          <th>
            <% if field_worker_details.has_key?('religion') %>
              Religion
            <% end %>
          </th>
          <% if field_worker_details['religion'].present? %>
            <td><%= h field_worker_details['religion'] %></td>
          <% else %>
            <td>-</td>
          <% end %>
        </tr>
      </table>
    <% end %>
  </div>
</div>